.appList {
  list-style: none;
  padding: 0 5px;
}

.appCard {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin: 15px 5px;
  padding: 10px;
  background: white;
  user-select: none;
  transition: all 0.5s;
}

.appCard h3 {
  display: flex;
  margin-top: 0px;
  font-size: 1em;
}

.appCard h3 img {
  margin-right: 0.4em;
}


.appCardBottom {
  display: flex;
  justify-content: space-between;
}
